[submodule "src/github.com/IMQS/authaus"]
	path = src/github.com/IMQS/authaus
	url = git@github.com:IMQS/authaus
[submodule "src/github.com/IMQS/imqsauth"]
	path = src/github.com/IMQS/imqsauth
	url = git@github.com:IMQS/imqsauth
[submodule "src/github.com/lib/pq"]
	path = src/github.com/lib/pq
	url = git@github.com:/lib/pq
[submodule "src/github.com/mavericknz/asn1-ber"]
	path = src/github.com/mavericknz/asn1-ber
	url = git@github.com:/mavricknz/asn1-ber
[submodule "src/github.com/mavericknz/ldap"]
	path = src/github.com/mavericknz/ldap
	url = git@github.com:/mavricknz/ldap
[submodule "src/github.com/mavricknz/ldap"]
	path = src/github.com/mavricknz/ldap
	url = git@github.com:/mavricknz/ldap
[submodule "src/github.com/mavricknz/asn1-ber"]
	path = src/github.com/mavricknz/asn1-ber
	url = git@github.com:/mavricknz/asn1-ber
[submodule "src/github.com/IMQS/cli"]
	path = src/github.com/IMQS/cli
	url = git@github.com:IMQS/cli.git
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "src/github.com/IMQS/serviceauth"]
	path = src/github.com/IMQS/serviceauth
	url = git@github.com:/IMQS/serviceauth
[submodule "src/gopkg.in/natefinch/lumberjack.v2"]
	path = src/gopkg.in/natefinch/lumberjack.v2
	url = git@github.com:natefinch/lumberjack
[submodule "src/github.com/IMQS/log"]
	path = src/github.com/IMQS/log
	url = git@github.com:IMQS/log
[submodule "src/github.com/IMQS/yfws"]
	path = src/github.com/IMQS/yfws
	url = git@github.com:IMQS/yfws.git
[submodule "src/github.com/clbanning/mxj"]
	path = src/github.com/clbanning/mxj
	url = git@github.com:clbanning/mxj.git
[submodule "src/github.com/fatih/structs"]
	path = src/github.com/fatih/structs
	url = git@github.com:fatih/structs.git
[submodule "net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/github.com/BurntSushi/migration"]
	path = src/github.com/BurntSushi/migration
	url = https://github.com/BurntSushi/migration
[submodule "src/github.com/IMQS/serviceconfigsgo"]
	path = src/github.com/IMQS/serviceconfigsgo
	url = git@github.com:IMQS/serviceconfigsgo.git
[submodule "src/github.com/IMQS/gowinsvc"]
	path = src/github.com/IMQS/gowinsvc
	url = git@github.com:IMQS/gowinsvc.git
